In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import json
import requests
from datetime import datetime
%matplotlib inline

C:\Users\User\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
#array with channel names, locations, ids and api keys
channel_dict = [{'name':'aq_79', 'location':'Ntinda','id':930434,'api_key':'XSQS4B1F4JFFQYDM', 'lat':0.360209, 'long':32.610756},
                {'name':'aq_29', 'location':'Bugolobi', 'id':718028, "api_key": "HNTV5QEJTD8RTG2H", 'lat':0.3075, 'long':32.6206}, 
                {'name':'aq_69', 'location':'Nantabulirwa', 'id':912224, "api_key": "OJ12NHMYOLR2OSEG", 'lat':0.34646, 'long':32.70328}, 
                {'name':'aq_71', 'location':'Kireka', 'id':930426, "api_key": "YZCE28PW7M3KN1I0", 'lat':0.3655, 'long':32.6468}, 
                {'name':'aq_72', 'location':'Luwafu', 'id':930427, "api_key": "9C8B4NPBVK2MSXS6", 'lat':0.2689, 'long':32.588}, 
                {'name':'aq_68', 'location':'Banda', 'id':912223, "api_key": "ZXNSJVTBLNCR5NX7", 'lat':0.341674, 'long':32.635306},
                {'name':'aq_67', 'location':'Mbuya II','id':912222, "api_key": "0XON5ZO70UO4AZYH", 'lat':0.325346, 'long':32.632288}, 
                {'name':'aq_65', 'location':'Nakasero II','id':912220, "api_key": "K8BUO5JV1C6H6ETQ", 'lat':0.322108, 'long':32.576}, 
                {'name':'aq_61', 'location':'Kiwatule','id':870145, "api_key": "800XZ9WZSCA6PKQY", 'lat':0.373078, 'long':32.628226}, 
                {'name':'aq_59', 'location':'Kyaliwajjala','id':870143, "api_key": "7OA7SZN6FI9GJDQ5", 'lat':0.381576, 'long':32.647109},
                {'name':'aq_60', 'location':'Butabika','id':870144, "api_key": "75J85QE5WM5XTGME", 'lat':0.30778, 'long':32.651449}, 
                {'name':'aq_63', 'location':'Nansana West','id':870147, "api_key": "QKS54M3HPNBOY004", 'lat':0.363, 'long':32.529}, 
                {'name':'aq_58', 'location':'Nansana East','id':870142, "api_key": "RKD5ITYJH4PPEOYX", 'lat':0.3759, 'long':32.528}, 
                {'name':'aq_56', 'location':'Busega','id':870139, "api_key": "JNXKF3WCY0EWL40K", 'lat':0.3101, 'long':32.516}, 
                {'name':'aq_55', 'location':'Kyanja','id':832255, "api_key": "EJYHQ5URSB2318MZ", 'lat':0.3875, 'long':32.601},
                {'name':'aq_52', 'location':'Busabala','id':832252, "api_key": "8A39DWOODG6KWKF2", 'lat':0.2182, 'long':32.6176}, 
                {'name':'aq_53', 'location':'Bunamwaya','id':832253, "api_key": "IV74MLDK9TW0VK31", 'lat':0.269993, 'long':32.558017}, 
                {'name':'aq_54', 'location':'Kyebando','id':832254, "api_key": "PW6HQ96ECPHVJX5V", 'lat':0.3564, 'long':32.573}, 
                {'name':'aq_51', 'location':'Lukuli','id':832251, "api_key": "LRAC4HSQ3H0JSUW4", 'lat':0.299, 'long':32.592}, 
                {'name':'aq_47', 'location':'Bukoto I','id':782720, "api_key": "7ZN35W0OYQQ1A2ZC", 'lat':0.3517, 'long':32.591},
                {'name':'aq_46', 'location':'Kansanga','id':782719, "api_key": "QTNAHITKHEJ4C9I5", 'lat':0.29875, 'long':32.615}, 
                {'name':'aq_45', 'location':'Kasubi','id':782718, "api_key": "Q5UUO172BQ33X8S1", 'lat':0.344, 'long':32.553}, 
                {'name':'aq_44', 'location':'Naguru II','id':755614, "api_key": "NZE1II9NGDOMN3BS", 'lat':0.3412, 'long':32.602}, 
                {'name':'aq_43', 'location':'Makindye I','id':755612, "api_key": "AZ3Q42XK8FOUF8P7", 'lat':0.289, 'long':32.589},
                {'name':'aq_62', 'location':'Makerere University','id':870146, "api_key": "32MHWTFEOJT0PJAK", 'lat':0.3323, 'long':32.5698},
                {'name':'aq_39', 'location':'Lubaga','id':737276, "api_key": "VHE2PZCJLMYHB7ZI", 'lat':0.295314, 'long':32.553682}, 
                {'name':'aq_36', 'location':'Bweyogerere','id':737273, "api_key": "5QFKQIGSKJK517SZ", 'lat':0.354825, 'long':32.67781}, 
                {'name':'aq_26', 'location':'Civic Centre','id':689761, "api_key": "YEGZIVUS16X2R4BO", 'lat':0.314, 'long':32.59},
                {'name':'aq_30', 'location':'Kiwafu', 'id':718029, "api_key":"TRF8VHH9DWUKBT59", 'lat':0.059604, 'long':32.46032},
                {'name':'aq_31', 'location':'Kireka', 'id':718030, 'api_key':'2VDX6R4QQY92HH7A', 'lat':0.347014, 'long':32.64936},
                {'name':'aq_32', 'location':'Seguku', 'id':730014, 'api_key':'8A9OOESUKHXIE80Z', 'lat':0.235668, 'long':32.55764},
                {'name':'aq_48', 'location':'Seguku(2)', 'id':782721, 'api_key':'QU3CSDCF0X5X1S06', 'lat':0.2336, 'long':32.5635},
                {'name':'aq_49', 'location':'Lukuli(2)', 'id':782722, 'api_key':'OGG3UX99KTA41C1K', 'lat':0.2836, 'long':32.6},
                {'name':'aq_64', 'location':'Najjera', 'id':912219, 'api_key':'B7L27BCFR95N2AMW', 'lat':0.391478, 'long':32.62583},
                {'name':'aq_66', 'location':'Nakasero II(2)', 'id':912221, 'api_key':'WNIR3I3JT61XARH2', 'lat':0.32232, 'long':32.5757},
                {'name':'aq_70', 'location':'Kyengera', 'id':912225, 'api_key':'W7YRPL4DDX051604', 'lat':0.286595, 'long':32.506107},
                {'name':'aq_74', 'location':'Kisugu', 'id':930429, 'api_key':'CLLNYXW9AY08VTRL', 'lat': 0.307489, 'long':32.611755}
               ]

In [3]:
def compute_completeness(df):
    '''
    Computes completeness of data for a location
    '''
    total_hours = 4368
    actual_hours = df.shape[0]
    return actual_hours, round(actual_hours/total_hours*100, 2)

In [4]:
def pm_min(df):
    '''Calculates the minimum PM 2.5 value of a location'''
    return round(df['PM 2.5'].min(), 1)

In [6]:
def pm_max(df):
    '''Calculates the minimum PM 2.5 value of a location'''
    return round(df['PM 2.5'].max(), 1)

In [7]:
def pm_mean(df):
    '''Calculates the average PM 2.5 value of a location'''
    return round(df['PM 2.5'].mean(), 1)

In [8]:
def pm_median(df):
    '''Calculates the median PM 2.5 value of a location'''
    return round(df['PM 2.5'].median(), 1)

In [9]:
def pm_percentile_25(df):
    '''Calculates the 25th Percentile PM 2.5 value of a location'''
    return round(df['PM 2.5'].quantile(0.25), 1)

In [10]:
def pm_percentile_75(df):
    '''Calculates the 75th Percentile PM 2.5 value of a location'''
    return round(df['PM 2.5'].quantile(0.75), 1)

In [12]:
def get_delta(start, end):
    '''Calculates difference in hours between two datetimes'''
    return abs(int((end-start).total_seconds())) / 3600

In [50]:
def resample_time(df): #df should have a datetime index
    '''
    Returns dataframe with hourly mean values based on pre-defined criteria
    '''
    from datetime import timedelta
    new_df = pd.DataFrame(columns =['created_at', 'PM 2.5'])
    start = df.index.min().replace(microsecond=0, second=0, minute=0)
    end = df.index.max().replace(microsecond=0, second=0, minute=0)+ timedelta(hours=1)
    for h in range(int(get_delta(start, end))):
        time = start + timedelta(0, h*3600)
        time_df = df.loc[time:time+timedelta(hours=1)]
        if time_df.shape[0]>=30:
            mean_pm = round(time_df['PM 2.5'].mean(), 2)
            new_row = {'created_at':time, 'PM 2.5':mean_pm}
            new_df = new_df.append(new_row, ignore_index=True)
        else:
            pass
    return new_df

In [51]:
def preprocessing(df):
    '''
    Preprocesses data for a location
    '''
    df['created_at'] = pd.to_datetime(df['created_at'])
    df = df.sort_values(by='created_at',ascending=True)
    df = df.set_index('created_at')
    df = df.rename(columns={'field1':'PM 2.5'})
    df['PM 2.5'].fillna(df['field3'])
    df.drop(['field3'], axis=1, inplace=True)
    df['PM 2.5'] = pd.to_numeric(df['PM 2.5'],errors='coerce')
    hourly_df = resample_time(df)
    hourly_df.dropna(inplace=True)
    return hourly_df
    #df.dropna(inplace=True)
    #return df

In [52]:
def overall_func(myArray):
    columns = ['Parish', 'Latitude', 'Longitude', 'Minimum', 'Maximum', 'Mean PM 2.5', 'Median PM 2.5', '25th Percentile', '75th Percentile', 'No. of hourly measurements', '6-Month Completeness (%)']
    final_df= pd.DataFrame(columns=columns)
    #df = pd.read_csv('./data/'+location['name']+'-'+location['location']+'.csv', 
     #                    usecols = ['created_at', 'field1', 'field3'],
      #                  parse_dates =['created_at'])
    #preprocessed_df = preprocessing(df)
    for location in myArray:
        df = pd.read_csv('./data/'+location['name']+'-'+location['location']+'.csv', 
                         usecols = ['created_at', 'field1', 'field3'],
                        parse_dates =['created_at'])
        preprocessed_df = preprocessing(df)
        hourly_measurements, completeness = compute_completeness(preprocessed_df)
        minimum = pm_min(preprocessed_df)
        maximum = pm_max(preprocessed_df)
        mean = pm_mean(preprocessed_df)
        median = pm_median(preprocessed_df)
        percentile_25 = pm_percentile_25(preprocessed_df)
        percentile_75 = pm_percentile_75(preprocessed_df)
        df2 = pd.DataFrame([[location['location'], location['lat'], location['long'], minimum, maximum, mean, median, percentile_25, percentile_75, hourly_measurements, completeness ]], columns=columns)
        final_df = pd.concat([df2, final_df])
        print(location['location']+' done')
    final_df.to_csv('data/completeness_table_10_09_2020.csv', index=False)
    return final_df

In [54]:
df = overall_func(channel_dict)
df.head()

Ntinda done
Bugolobi done
Nantabulirwa done
Kireka done
Luwafu done
Banda done
Mbuya II done
Nakasero II done
Kiwatule done
Kyaliwajjala done
Butabika done
Nansana West done
Nansana East done
Busega done
Kyanja done
Busabala done
Bunamwaya done
Kyebando done
Lukuli done
Bukoto I done
Kansanga done

C:\Users\User\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

Kasubi done
Naguru II done
Makindye I done
Makerere University done
Lubaga done
Bweyogerere done
Civic Centre done
Kiwafu done
Kireka done
Seguku done
Seguku(2) done
Lukuli(2) done
Najjera done
Nakasero II(2) done
Kyengera done
Kisugu done

,Parish,Latitude,Longitude,Minimum,Maximum,Mean PM 2.5,Median PM 2.5,25th Percentile,75th Percentile,No. of hourly measurements,6-Month Completeness (%)
0,Kisugu,0.307489,32.611755,1.1,383.6,39.2,34.7,20.3,49.0,2191,50.16
0,Kyengera,0.286595,32.506107,1.0,210.2,51.6,44.9,31.8,66.2,2632,60.26
0,Nakasero II(2),0.322320,32.575700,0.2,259.0,37.7,35.9,19.7,48.4,4349,99.57
0,Najjera,0.391478,32.625830,1.1,234.8,62.6,53.6,39.3,83.3,1916,43.86
0,Lukuli(2),0.283600,32.600000,0.3,221.7,39.9,35.2,18.2,51.7,3949,90.41

In [57]:
df = df.sort_values(by='6-Month Completeness (%)',ascending=False)
df.head()

,Parish,Latitude,Longitude,Minimum,Maximum,Mean PM 2.5,Median PM 2.5,25th Percentile,75th Percentile,No. of hourly measurements,6-Month Completeness (%)
0,Nakasero II(2),0.322320,32.575700,0.2,259.0,37.7,35.9,19.7,48.4,4349,99.57
0,Kansanga,0.298750,32.615000,0.2,179.9,32.7,30.6,15.6,43.8,4311,98.70
0,Nansana East,0.375900,32.528000,0.3,326.7,62.4,51.7,36.0,79.8,4093,93.70
0,Lubaga,0.295314,32.553682,0.2,715.9,52.1,45.6,32.1,63.8,4055,92.83
0,Nansana West,0.363000,32.529000,8.9,269.9,57.7,48.6,36.7,70.3,4053,92.79

In [74]:
completeness_df = df[df['6-Month Completeness (%)']>=75.0]
completeness_df=completeness_df.reset_index(drop=True)
completeness_df.head()

,Parish,Latitude,Longitude,Minimum,Maximum,Mean PM 2.5,Median PM 2.5,25th Percentile,75th Percentile,No. of hourly measurements,6-Month Completeness (%)
0,Nakasero II(2),0.322320,32.575700,0.2,259.0,37.7,35.9,19.7,48.4,4349,99.57
1,Kansanga,0.298750,32.615000,0.2,179.9,32.7,30.6,15.6,43.8,4311,98.70
2,Nansana East,0.375900,32.528000,0.3,326.7,62.4,51.7,36.0,79.8,4093,93.70
3,Lubaga,0.295314,32.553682,0.2,715.9,52.1,45.6,32.1,63.8,4055,92.83
4,Nansana West,0.363000,32.529000,8.9,269.9,57.7,48.6,36.7,70.3,4053,92.79

In [75]:
completeness_df = completeness_df.drop(['Minimum', 'Maximum'], axis=1)
completeness_df.head()

,Parish,Latitude,Longitude,Mean PM 2.5,Median PM 2.5,25th Percentile,75th Percentile,No. of hourly measurements,6-Month Completeness (%)
0,Nakasero II(2),0.322320,32.575700,37.7,35.9,19.7,48.4,4349,99.57
1,Kansanga,0.298750,32.615000,32.7,30.6,15.6,43.8,4311,98.70
2,Nansana East,0.375900,32.528000,62.4,51.7,36.0,79.8,4093,93.70
3,Lubaga,0.295314,32.553682,52.1,45.6,32.1,63.8,4055,92.83
4,Nansana West,0.363000,32.529000,57.7,48.6,36.7,70.3,4053,92.79

In [76]:
completeness_df.to_csv('data/completeness_table_above_75_10_09_2020.csv', index=False)